<html>
<head>
	<title>Login</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
  <div id="signin-button"></div>
  <div id="result"></div>
  <script>

  	var response;
  	var auth2;

  	$('#signin-button').click(function () {
  		console.log('saying hi');
  	});

  	function gapiInit() {
  		gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: "{{CLIENT_ID}}",
                scope: 'profile openid email',
                prompt: 'consent'
                // redirect_uri: 'http://localhost/'
            });
        });
  		renderButton();
  	}

    function onSuccess(googleUser) {
      response = googleUser;
      var profile = googleUser.getBasicProfile();

  	  $.ajax({
  	  	type: 'POST',
  	  	url: '/gconnect?state={{STATE}}',
	    processData: false,
	    contentType: 'application/json; charset=utf-8',
	    data: JSON.stringify(googleUser.getAuthResponse()),
	    success: function (result) {
	    	$('#result').html('Log in success!<br />' + result);
	    	// setTimeout(function() {
	     //      window.location.href = "/restaurant";
	     //    }, 4000);
	    }
  	  })
    }

    function onFailure(error) {
      console.log(error);
    }

    function renderButton() {
      gapi.signin2.render('signin-button', {
        'scope': 'profile email openid',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=gapiInit" async defer></script>
</body>
</html>