<html>
<head>
	<title>Login</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
  <div id="signin-button"></div>
  <div class="fb-login-button" 
       data-width="240" 
       data-max-rows="1" 
       data-size="large" 
       data-button-type="login_with" 
       data-show-faces="false" 
       data-auto-logout-link="false" 
       data-use-continue-as="false"
       onlogin="fb_onlogin"
       scope="public_profile, email"></div>
  <div id="result"></div>
  <script>

  	var response;
  	var auth2;

  	// $('#signin-button').click(function () {
  	// 	console.log('saying hi');
  	// });

  	function gapiInit() {
  		gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: "{{CLIENT_ID}}",
                scope: 'profile openid email',
                prompt: 'consent'
                // redirect_uri: 'http://localhost/'
            });
        });
  		renderButton();
  	}

    function onSuccess(googleUser) {
      response = googleUser;
      var profile = googleUser.getBasicProfile();

  	  $.ajax({
  	  	type: 'POST',
  	  	url: '/gconnect?state={{STATE}}',
	    processData: false,
	    contentType: 'application/json; charset=utf-8',
	    data: JSON.stringify(googleUser.getAuthResponse()),
	    success: function (result) {
	    	$('#result').html('Log in success!<br />' + result);
	    	// setTimeout(function() {
	     //      window.location.href = "/restaurant";
	     //    }, 4000);
	    }
  	  })
    }

    function onFailure(error) {
      console.log(error);
    }

    function renderButton() {
      gapi.signin2.render('signin-button', {
        'scope': 'profile email openid',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }

    function fb_onlogin() {
      console.log('facebook login callback')
      console.log(FB.getAuthResponse())
    }
  </script>

  <!-- <script src="https://apis.google.com/js/platform.js?onload=gapiInit" async defer></script> -->
  <script src="https://apis.google.com/js/platform.js?onload=gapiInit" async defer></script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=373573719756803';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{{FB_APP["id"]}}',
        cookie     : true,
        xfbml      : true,
        version    : '{{FB_APP["version"]}}'
      });
        
      FB.AppEvents.logPageView(); 
        
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  </script>
</body>
</html>